<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div id="app">
    {{message}},{{name}}<br/>
    <span v-bind:title="message">
        鼠标悬停
    </span>
    <br/>

    <h3 v-if="type==='A'">A</h3>
    <h3 v-else-if="type==='B'">B</h3>
    <h3 v-else>C</h3>
    <br/>

    <li v-for="(item, index) in items">
        {{item.message}} - {{index}}
    </li>
    <br/>

    <button v-on:click="sayHi">点击我</button>
    <br/>

    输入的文本：<input type="text" v-model="message"> {{message}}<br/>
    <textarea v-model="meg"></textarea>{{meg}}<br/>

    性别：
    <input type="radio" name="sex" value="男" v-model="personSex"> 男
    <input type="radio" name="sex" value="女" v-model="personSex"> 女
    <br/>
    选中的是：{{personSex}}<br/>

    下拉框
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    下拉框选中了：{{selected}}<br/>

    <dfx></dfx>
    <dfx></dfx>

</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
    //定义一个vue组件
    Vue.component("dfx",{
        template: '<li>Hello</li>'
    });

    var vm = new Vue({
        el:"#app",
        data:{
            message:"页面加载于" + new Date().toLocaleString(),
            meg:"",
            personSex: "",
            selected: "",
            name:"Max",
            type:'A',
            items:[
                {message:'java'},
                {message:'C语言'},
                {message:'python'},
            ],
        },
        methods:{
            sayHi: function(){
                alert("学习VUE");
                alert(this.message);
            }
        },
    });
</script>
</body>
</html>